<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <ul>
        {{range .Todos}}
        <li>
            {{.ID}}: 
            <form action="/update_todo" method="post">
                <input type="text" name="name" value="{{.Name}}">
                <button type="submit">Update</button>
            </form>
            <a href="/delete_todo">Delete</a>
        </li>
        {{end}}
    </ul>
    <form action="/create_todo" method="post">
        <input type="text" name="name">
        <button type="submit">Create</button>
    </form>
</body>
</html>